{% extends "demo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <!--Main layout-->
<main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form method="POST" class='card-body'>
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.get_quantity }}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            {% for cart in carts %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ cart.item.name }} * {{ cart.quantity }}</h6>
                <small class="text-muted">{{ cart.item.description }}</small>
              </div>
              <span class="text-muted">Rs.{{ cart.get_total }}</span>
            </li>
            {% endfor %}
            <!-- Promo Code -->
            <!--
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-Rs.5</span>
            </li>-->
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (Rs)</span>
              <strong>Rs.{{ order.get_totals }}</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}
